@charset 'UTF-8'; 
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
body {
	font-size: large;
	font-family: 'Noto Sans KR';
	background-color: #171717;
	color: #DDDDDD;
}
body.popup {
	background-color: #222222;
}
#all {
	width: 1280px;
	margin: auto;
}
#title_div {
	text-align: center;
}
img#home_icon {
	position: absolute;
	left: 20%;
	top: 10%;
	width: 200px;
}


/* nav */
nav>fieldset>ul {
	text-align: center;
	margin-top: 0px; margin-bottom: 0px;
	padding-left: 30px;
}

nav>fieldset>ul>li {
	text-decoration: none;
	list-style: none;
	display: inline;
	float: left;
}
.nav_btn {
	margin-left: 17px; margin-right: 17px;
	margin-top: 15px;
	height: 70px;
}
#s-hyp {
	float: right;
	text-align: right;
}

#hyp1 {
	position: relative;
	top: 35px;
	right: 30px;
	font-size: large;
	font-weight: bold;
}
#hyp2 {
	position: relative;
	bottom: 100px;
	right: 30px;
	font-size: large;
	font-weight: bold;
}
.welcome {
	font-size: small;
}
#crop {
	position: relative;
	right: 190px;
}
#crop>img {
	width: 100px; height: 100px;
	overflow: hidden;
	border-radius: 200px;
	border: 2px solid #BBBBBB;
}


/* All */
legend {
	text-align: center;
}
fieldset {
	margin: auto;
	border-radius: 2em;
}
fieldset#navf {
	padding: 0px;
	height: 102px;
}
fieldset.f0 {
	width: 1280px;
	padding-left: 0px; padding-right: 0px;
	background-color: #222222;
}
fieldset.f1 {
	width: 900px;
	text-align: right;
	margin-bottom: 30px;
}
fieldset.f2 {
	width: 300px;
	text-align: center;
}
.notnull {
	color: red;
	font-size: large;
}
select {
	font-size: medium;
	border-radius: 30px;
	background-color: #EEEEEE;
}
input {
	font-size: medium;
	border-radius: 30px;
	background-color: #EEEEEE;
}
	input#input-file {
	    position:relative;
	    cursor:pointer;
	    display:inline-block;
	    overflow:hidden;
	    background:#EEEEEE;
	    color:#666666;
	}
	input.input-width {
		width: 199px;
		text-align:center;
	}
	::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
		color: #666666;
		opacity: 1; /* Firefox */
	}
	:-ms-input-placeholder { /* Internet Explorer 10-11 */
		color: #666666;
	}
	::-ms-input-placeholder { /* Microsoft Edge */
		color: #666666;
	}
	.input-check {
		margin: 0px;
		font-size: small;
	}
span {
	font-size: 0.7em;
}
button {
	font-family: 'Noto Sans KR';
	font-size: medium;
	border-radius: 30px;
}
.login-button {
	font-size: small;
}
.frm_b {
	text-align: right;
	margin-top: 10px;
}
table {
	border-collapse: collapse;
	border-color: #DDDDDD;
}
table#information {
	width: 600px;
	text-align: center;
	margin-left: auto; margin-right: auto;
	margin-bottom: 40px;
}
img#inf-profile {
	width: 600px;
}
table#m_information {
	width: 900px;
	text-align: center;
	margin-left: auto; margin-right: auto;
	margin-bottom: 20px;
}
table#m_content {
	width: 900px;
	text-align: center;
	margin-left: auto; margin-right: auto;
}

	/* a TAG */
	#page_control>a,
	.hyp>a,
	#pfn a {
		text-decoration: none;
		color: #BBBBBB;
	}
	#page_control>b>a,
	#mp a,
	#a-w {
		text-decoration: none;
		color: #DDDDDD;
	}
	#page_control>a:hover,
	#page_control>b>a:hover,
	.hyp>a:hover,
	#mp a:hover,
	#pfn a:hover,
	#a-w:hover {
		text-decoration: underline;
		color: #EFEFEF;
	}

/* login */
#login-title {
	margin: 0px;
}
.login-text {
	font-size: small;
	margin: 0px;
}
#rmm {
	float: left;
    margin-top: 6px;
}

/* Content */
.board-th {
	background-color: #333333;
}
.board-th2 {
	background-color: #333333;
	width: 150px;
}
.subject {
	width: 500px;
}
td.subject {
	text-align: left;
	padding-left: 10px;
}
.content-tr {
	background-color: #777777;
	color: #111111;
}
.content-tr2 {
	background-color: #333333;
}
.content-tr:hover,
.content-tr2:hover {
	background-color: #555555;
	color: #DDDDDD;
}
#pre-content {
	padding-top: 20px;
	padding-bottom: 20px;
}
#pre-content>pre {
	color: black;
    font-family: 'Noto Sans KR';
	margin: auto;
    padding: 50px;
    width: 750px;
    text-align: left;
    border: 1px double #DDDDDD;
}
#pfs {
	border: none;
	text-align: left;
	padding-left: 20px;
}
#pfn {
	border: none;
	text-align: left;
	padding-left: 20px;
	font-size: small;
	padding-bottom: 10px;
}
.ctnt {
	margin-bottom: 30px;
}
	/*admin*/
	.content-tr input {
		margin: 4px;
	}
	#information img {
		border-radius: 10%;
	}
	.dtr {
		background-color: #666666;
	}
	.dtr:hover {
		background-color: #444444;
	}
	#dtr-i {
		padding-bottom: 0px;
    	padding-top: 6px;
	}

div#page_control {
	text-align: center;
}
#search-form {
	text-align: center;
	padding-left: 50px;
}
#search-form>div {
	float: right;
}

#content-page {
	background-color: #777777;
}
#f-cont {
	background-color: #777777;
}

/*footer*/
#footer-email {
	text-align: right;
	padding-right: 30px;
}
#footer-email>p {
	margin-bottom: 0px;
	font-size: 13px;
}