@charset 'UTF-8'; 
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
body {
	font-size: large;
	font-family: 'Noto Sans KR';
	background-color: #171717;
	color: #DDDDDD;
}
body.popup {
	background-color: #222222;
}
#all {
	width: 1280px;
	margin: auto;
}
#title_div {
	text-align: center;
}
img#home_icon {
	position: absolute;
	left: 20%;
	top: 10%;
	width: 200px;
}
h1 {
	font-size: 1.5em;
	margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}

/* nav */
nav>fieldset>ul {
	text-align: center;
	margin-top: 0px; margin-bottom: 0px;
	padding-left: 30px;
}

nav>fieldset>ul>li {
	text-decoration: none;
	list-style: none;
	display: inline;
	float: left;
}
.nav_btn {
	margin-left: 17px; margin-right: 17px;
	margin-top: 15px;
	height: 70px;
}
.nav_btn:active {
	opacity: 0.5;
}
#s-hyp {
	float: right;
	text-align: right;
}

#hyp1 {
	position: relative;
	top: 35px;
	right: 30px;
	font-size: large;
	font-weight: bold;
}
#hyp2 {
	position: relative;
	bottom: 100px;
	right: 30px;
	font-size: large;
	font-weight: bold;
}
.welcome {
	font-size: small;
}
	/*Crop*/
	#crop {
		position: relative;
		right: 150px;
		border-radius: 200px;
		position: relative;
		width: 100px;
		height: 100px;
		overflow: hidden;
		border: 2px solid #BBBBBB;
	}
	#crop>img { 
		position: absolute;
		left: 50%;
		top: 50%;
		height: 100%;
		width: auto;
		-webkit-transform: translate(-50%,-50%);
		-ms-transform: translate(-50%,-50%);
		transform: translate(-50%,-50%); 
	}
	
	#crop-con {
		position: relative;
		width: 100px;
		height: 100px;
		overflow: hidden;
		border: 2px solid #BBBBBB;
	}
	#crop-con>img { 
		position: absolute;
		left: 50%;
		top: 50%;
		height: 100%;
		width: auto;
		-webkit-transform: translate(-50%,-50%);
		-ms-transform: translate(-50%,-50%);
		transform: translate(-50%,-50%); 
	}
	.crop-float {
		float: left;
	}
	#crop-admin {
		position: relative;
		width: 20px;
		height: 20px;
		overflow: hidden;
	}
	#crop-admin>img { 
		position: absolute;
		left: 50%;
		top: 50%;
		height: 100%;
		width: auto;
		-webkit-transform: translate(-50%,-50%);
		-ms-transform: translate(-50%,-50%);
		transform: translate(-50%,-50%); 
	}
	
	#crop-content {
		float: left;
		position: relative;
		width: 426px;
		height: 426px;
		overflow: hidden;
	}
	#crop-content>img { 
		position: absolute;
		left: 50%;
		top: 50%;
		height: 100%;
		width: auto;
		-webkit-transform: translate(-50%,-50%);
		-ms-transform: translate(-50%,-50%);
		transform: translate(-50%,-50%); 
	}
	
	#crop-gall {
		position: relative;
		width: 270px;
		height: 270px;
		overflow: hidden;
	}
	#crop-gall>img { 
		position: absolute;
		left: 50%;
		top: 50%;
		height: 100%;
		width: auto;
		-webkit-transform: translate(-50%,-50%);
		-ms-transform: translate(-50%,-50%);
		transform: translate(-50%,-50%); 
	}
		/*Animation*/
	#crop-gall {
		border: 1px solid #DDDDDD;
		transition: border-radius .5s, opacity .5s;
	}
	#crop-gall:hover {
		opacity: 0.7;
		border-radius: 60px;
/* 		background-color: rgb(182, 149, 181); */
		position: relative;
		animation-name: anime;
		animation-iteration-count: infinite;
		animation-duration: 2s;
	}
#content-box {
	clear: both;
}
#file-box {
    margin-left: 23px;
}

/* All */
legend {
	text-align: center;
}
fieldset {
	margin: auto;
	border-radius: 2em;
}
fieldset#navf {
	padding: 0px;
	height: 102px;
}
fieldset.f0 {
	width: 1280px;
	padding-left: 0px; padding-right: 0px;
	background-color: #222222;
}
fieldset.f1 {
	width: 900px;
	text-align: right;
	margin-bottom: 30px;
}
fieldset.f1-1 {
	width: 400px;
	text-align: right;
}
fieldset.f2 {
	width: 300px;
	text-align: center;
}
fieldset.f2-1 {
	width: 450px;
	text-align: center;
}
.notnull {
	color: red;
	font-size: large;
}
select {
	font-size: medium;
	border-radius: 30px;
	background-color: #EEEEEE;
}
input {
	font-size: medium;
	border-radius: 30px;
	background-color: #EEEEEE;
}
	input#input-file {
	    position:relative;
	    cursor:pointer;
	    display:inline-block;
	    overflow:hidden;
	    background:#EEEEEE;
	    color:#666666;
	}
	input.input-width {
		width: 199px;
		text-align:center;
	}
	::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
		color: #666666;
		opacity: 1; /* Firefox */
	}
	:-ms-input-placeholder { /* Internet Explorer 10-11 */
		color: #666666;
	}
	::-ms-input-placeholder { /* Microsoft Edge */
		color: #666666;
	}
	.input-check {
		margin: 0px;
		font-size: small;
	}
span {
	font-size: 0.7em;
}
button {
	font-family: 'Noto Sans KR';
	font-size: medium;
	border-radius: 30px;
}
.login-button {
	font-size: small;
}
.frm_b {
	text-align: right;
	margin-top: 10px;
}
table {
	border-collapse: collapse;
	border-color: #DDDDDD;
}
table#information {
	width: 600px;
	text-align: center;
	margin-left: auto; margin-right: auto;
	margin-bottom: 40px;
}
table#information-1 {
	width: 400px;
	text-align: center;
	margin-left: auto; margin-right: auto;
	margin-bottom: 20px;
}
img#inf-profile {
	width: 600px;
}
img#inf-profile-1 {
	width: 400px;
}
#information img {
	border-radius: 10%;
}
#information-1 img {
	border-radius: 10%;
}
table#m_information {
	width: 900px;
	text-align: center;
	margin-left: auto; margin-right: auto;
	margin-bottom: 20px;
}
table#m_content {
	width: 900px;
	text-align: center;
	margin-left: auto; margin-right: auto;
}

	/* a TAG */
	#page_control>a,
	.hyp>a,
	#pfn a,
	#footer-email>a,
	.f2-1>a {
		text-decoration: none;
		color: #BBBBBB;
	}
	#page_control>b>a,
	#mp a,
	#a-w {
		text-decoration: none;
		color: #DDDDDD;
	}
	#page_control>a:hover,
	#page_control>b>a:hover,
	.hyp>a:hover,
	#mp a:hover,
	#pfn a:hover,
	#a-w:hover,
	#footer-email>a:hover,
	.f2-1>a:hover {
		text-decoration: underline;
		color: #EFEFEF;
	}

/* login */
#login-title {
	margin: 0px;
}
.login-text {
	font-size: small;
	margin: 0px;
}
#rmm {
	float: left;
    margin-top: 6px;
}

/* Content */
.board-th {
	background-color: #333333;
}
.board-th2 {
	background-color: #333333;
	width: 150px;
}
.subject {
	width: 500px;
}
td.subject {
	text-align: left;
	padding-left: 10px;
}
#table-gall {
	float: left;
	margin: 14px
}	
#tr-gall {
	text-align: center;
	background-color: #333333;
}
.content-tr {
	background-color: #777777;
	color: #111111;
}
.content-tr2 {
	background-color: #333333;
}
.content-tr:hover,
.content-tr2:hover {
	background-color: #555555;
	color: #DDDDDD;
}
#pre-content {
	padding-top: 20px;
	padding-bottom: 20px;
}
#file-box>#files {
	clear: both;
    font-family: 'Noto Sans KR';
    font-size: small;
	margin: auto;
    padding-left: 50px; padding-top: 10px; padding-bottom: 10px; padding-right: 50px;
    width: 750px;
    text-align: left;
    border: 1px double #DDDDDD;
    margin-left: 0px;
}
#content-box>pre {
	color: black;
    font-family: 'Noto Sans KR';
	margin: auto;
	margin-left: 23px;
    padding: 50px;
    width: 750px;
    text-align: left;
    border: 1px double #DDDDDD;
}
#pfs {
	border: none;
	text-align: left;
	padding-left: 20px;
}
#pfn {
	border: none;
	text-align: left;
	padding-left: 20px;
	font-size: small;
	padding-bottom: 10px;
}
#pfn2 span {
	font-size: small;
}
.ctnt {
	margin-bottom: 30px;
}
	/*admin*/
	.content-tr input {
		margin: 4px;
	}
	.dtr {
		background-color: #666666;
	}
	.dtr:hover {
		background-color: #444444;
	}
	#dtr-i {
		padding-top: 2px;
    	padding-left: 4px;
    	padding-right: 0px;
    	width: 24px;
	}

div#page_control {
	text-align: center;
}
#search-form {
	text-align: center;
	padding-left: 50px;
}
#search-form>div {
	float: right;
}

#content-page {
	background-color: #777777;
}
#f-cont {
	background-color: #777777;
}
.f2-1>p {
	margin-bottom: 0px;
	font-size: small;
}

/*footer*/
#footer-email {
	text-align: right;
	padding-right: 30px;
}
#footer-email>a {
	margin-bottom: 0px;
	font-size: 13px;
}